body.isBackgroundDay {
  background: #9a585a;
  color: #efe3cb;
}
body.isBackgroundDay .ForecastCard {
  color: #9a585a;
}
body.isBackgroundDay .form-control {
  border-radius: 20px;
  background-color: #d8c0c1;
}
body.isBackgroundDay .btn {
  border-radius: 20px;
  background-color: #efe3cb;
  border: 1px solid #efe3cb;
  color: #9a585a;
}

body.isBackgroundNight {
  background: #443057;
  color: #efe3cb;
}
body.isBackgroundNight .ForecastCard {
  color: #443057;
}
body.isBackgroundNight .form-control {
  border-radius: 20px;
  background-color: #d8c0c1;
}
body.isBackgroundNight .btn {
  border-radius: 20px;
  background-color: #efe3cb;
  border: 1px solid #efe3cb;
  color: #443057;
}

.App {
  font-family: "Josefin Sans", sans-serif;
}

.App footer {
  text-align: center;
  margin-top: 100px;
}

.App footer a {
  color: #efe3cb;
}
.App footer a:hover {
  color: #efe3cb;
  opacity: 0.5;
}

@media (max-width: 992px) {
  .App footer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
