.ForecastCard {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 20px;
  opacity: 1;
}
.ForecastCard i {
  font-size: 50px;
}
.ForecastCard ul li {
  opacity: 1;
  text-align: center;
}
.ForecastCard .min-temp {
  opacity: 0.7;
}
