body {
  background: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  min-height: 100vh;
}

h2,
h4,
p {
  font-weight: 400;
  color: #3a3d5a;
}

header {
  margin: 20px 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  color: #3a3d5a;
}

h2 {
  font-size: 24px;
}

h3 {
  font-weight: 800;
  font-size: 36px;
  color: #3a3d5a;
}

h4 {
  font-size: 48px;
}

p {
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 10px;
}
footer a {
  color: #212529;
  text-decoration: none;
}
a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.card-wrapper {
  margin: 35px auto 0;
  max-width: 70%;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  background: #f7f6f5;
  box-shadow: 5px 7px 28px 7px rgba(0, 0, 0, 0.2);
}

.weather-icon {
  position: relative;
  left: 10px;
  top: 15px;
  width: 100%;
}

.icons {
  color: #3a3d5a;
}

.weather-now {
  padding-top: 30px;
  text-transform: capitalize;
}
.weather-parameters {
  margin-bottom: 0;
}

.units {
  font-size: 18px;
  position: relative;
  bottom: 15px;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}

.future-dates {
  text-align: center;
  margin-top: 16px;
}

.future-dates h1 {
  font-size: 24px;
}
.future-dates h2 {
  font-size: 18px;
}

.small-card-wrapper {
  margin: 20px 10px 0;
  background-color: rgba(203, 186, 204, 0.3);
  border: 1px solid rgba(203, 186, 204, 0.3);
  border-radius: 10px;
}
.small-card-wrapper:hover {
  border: 1px solid #cbbacc;
  background-color: #cbbacc;
  border-radius: 10px;
  box-shadow: 2px 3px 23px 5px rgba(0, 0, 0, 0.1);
}

.degrees {
  font-weight: 600;
}
.future-dates-weather {
  margin-bottom: 0;
  font-weight: 600;
}
.small-card-wrapper .weather-icon {
  position: relative;
  left: 0;
  top: 0;
}
.btn-outline-primary {
  color: #3a3d5a;
  border-color: #3a3d5a;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #3a3d5a;
  border-color: #3a3d5a;
}
.temp-max {
  margin-right: 5px;
}
.temp-min {
  margin-left: 5px;
  opacity: 85%;
}
