.Weather {
  margin: 80px 0 20px;
}

.Weather h1 {
  font-size: 46px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.Weather img {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.Weather ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.Weather ul li {
  font-size: 20px;
  line-height: 1.5;
  opacity: 0.8;
}

.Weather .week-day {
  font-size: 36px;
  font-weight: 500;
  opacity: 1;
}

.Weather .day-data {
  text-align: center;
}

.Weather h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0;
}
.Weather h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5;
}

.Weather .current-weather {
  margin-top: 100px;
}
.Weather .current-weather-info {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.Weather .units {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  bottom: 25px;
}
.Weather .units a {
  color: white;
  opacity: 0.4;
  text-decoration: none;
}
.Weather .units a .active {
  color: #443057;
}
.loading {
  height: 100vh;
}

@media (max-width: 992px) {
  .WeatherForecast {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .Weather {
    margin-top: 20px;
    text-align: center;
  }
  .Weather .current-weather {
    margin-bottom: 10px;
    margin-top: 010px;
  }
}
